<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Staff</servlet-name>
        <servlet-class>Controller.Staff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffControl</servlet-name>
        <servlet-class>Controller.StaffControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoomControl</servlet-name>
        <servlet-class>Controller.RoomControl</servlet-class>
    </servlet>
    <servlet>
        <description>To perform login and logout verification</description>
        <servlet-name>LoginOut</servlet-name>
        <servlet-class>Controller.LoginOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuestReservation</servlet-name>
        <servlet-class>Controller.GuestReservation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuestFeedBack</servlet-name>
        <servlet-class>Controller.GuestFeedBack</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkRoomSpace</servlet-name>
        <servlet-class>Controller.checkRoomSpace</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Staff</servlet-name>
        <url-pattern>/Staff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoomControl</servlet-name>
        <url-pattern>/RoomControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffControl</servlet-name>
        <url-pattern>/StaffControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginOut</servlet-name>
        <url-pattern>/LoginOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuestReservation</servlet-name>
        <url-pattern>/GuestReservation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuestFeedBack</servlet-name>
        <url-pattern>/GuestFeedBack</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkRoomSpace</servlet-name>
        <url-pattern>/checkRoomSpace</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <resource-ref>
        <description>jdbc:derby://localhost:1527/NyanCatDB</description>
        <res-ref-name>NyanCat</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
