/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 13, 2015, 11:51:26 PM
    Author     : Kevin
*/

.navbar-text > a {
    color: inherit;
    text-decoration: none;
}

.container > section{
    padding-left: 20px;
    padding-right: 20px;
}

body {
    padding-top: 70px;
    padding-bottom: 100px;
    background-color: #cccccc   ;


}
.navbar-default {
    background-color: #2C3E50;
    border-color: #FFFFFF;
    color: #FFFFFF;
}

.navbar-default .navbar-brand {
    color: #FFFFFF;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #18BC9C;
    background-color: transparent;
}

.navbar-default .navbar-nav > li > a {
    color: #FFFFFF;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #FFFFFF;
    background-color: #1A242F;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #18BC9C;
    background-color: transparent;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    background-color: #1A242F;
    color: #FFFFFF;
}


textarea{
    resize: none;
}

.col {
    padding: 5px;
}

section{
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: solid ;
    background-color: white;       
}
.row{
    padding-top: 5px;
    padding-bottom: 5px;
}


form.cmxform label.error, label.error {
    /*for the form validation*/
    /* remove the next line when you have trouble in IE6 with labels in list */
    color: red;
    font-style: italic
}